{% extends 'base.html.twig' %}

{% block title %}Votre tableau de bord
{% endblock %}

{% block body %}
	<h1>Votre tableau de bord</h1>
	{% if is_granted('ROLE_EMPLOYEE') %}
		<div>
			<a href="{{ path('admin_vehicles_new') }}" class="btn btn-primary">Ajouter un véhicule</a>
			<a href="{{ path('admin_testimonials_new') }}" class="btn btn-primary">Ajouter un témoignage</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('admin_services_new') }}" class="btn btn-primary">Ajouter un service</a>
				<a href="{{ path('admin_users_new') }}" class="btn btn-primary">Ajouter un utilisateur</a>
			{% endif %}
		</div>
	{% endif %}
{% endblock %}
