{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title}}
{% endblock %}

{% block body %}

	<h1>{{page_title}}</h1>

	<div class="row row-cols-1 row-cols-md-3 g-4">
		{% for service in services %}
			<div class="col">
				{% include "./services/_serviceCard.html.twig" %}

			</div>
		{% endfor %}
	</div>
{% endblock %}
