{% extends 'base.html.twig' %}

{% block title %}Hello ScheduleController!
{% endblock %}

{% block body %}
	<h1>{{ pageTitle }}</h1>

	{{ include('admin/schedules/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
