{% extends 'base.html.twig' %}

{% block title %}
	{{ pageTitle}}
{% endblock %}

{% block body %}
	<h1>{{ pageTitle}}</h1>
	<a href="{{ path('admin_services_index') }}">Retour</a>

	{{ include('admin/services/_form.html.twig') }}

{% endblock %}
